.login-logo {
  text-align: center;
  margin-top: 10vh;
}

form {
  padding: 0 20px;
}

#facebook {
  width: fit-content;
  margin: auto;

  ion-icon {
    cursor: pointer;
  }
}

.tac {
  text-align: center;
  padding-bottom: 10px;
}
