<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ information?.strDrink }}</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="information">
    <ion-card-header class="ion-text-center">
      <ion-card-title color="primary">
        {{ information.strDrink }}
      </ion-card-title>
      <ion-card-subtitle color="secondary">
        {{ information.strCategory }} • {{ information.strAlcoholic }}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img [src]="information.strDrinkThumb" class="info-img" /> <br />
      {{ information.strInstructions }}

      <ion-text color="tertiary" class="ion-text-center"
        ><h2 class="ingredients">Ingredients</h2></ion-text
      >
      <ion-row *ngIf="information.strIngredient1">
        <ion-col>
          <ion-text color="tertiary">
            {{ information.strIngredient1 }}</ion-text
          >
        </ion-col>
        <ion-col>
          <ion-text color="tertiary">
            {{ information.strMeasure1 }}
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="information.strIngredient2">
        <ion-col>
          <ion-text color="tertiary">
            {{ information.strIngredient2 }}</ion-text
          >
        </ion-col>
        <ion-col>
          <ion-text color="tertiary">
            {{ information.strMeasure2 }}
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="information.strIngredient3">
        <ion-col>
          <ion-text color="tertiary">
            {{ information.strIngredient3 }}</ion-text
          >
        </ion-col>
        <ion-col>
          <ion-text color="tertiary">
            {{ information.strMeasure3 }}
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="information.strIngredient4">
        <ion-col>
          <ion-text color="tertiary">
            {{ information.strIngredient4 }}</ion-text
          >
        </ion-col>
        <ion-col>
          <ion-text color="tertiary">
            {{ information.strMeasure4 }}
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="information.strIngredient5">
        <ion-col>
          <ion-text color="tertiary">
            {{ information.strIngredient5 }}</ion-text
          >
        </ion-col>
        <ion-col>
          <ion-text color="tertiary">
            {{ information.strMeasure5 }}
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-button
        expand="full"
        (click)="openWebsite()"
        *ngIf="information.Website && information.Website != 'N/A'"
      >
        <ion-icon name="open" slot="start"></ion-icon>
        Open Website
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
